
<!--
	HTML with Open Graph attributes
	<html class="no-js" lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
-->
  
  
  <section>
 

  <div class="sub-banner aboutus-banner">  
  <div class="container">
  <div class="row">
  <div class="sub-title">
  <h2>About Us</h2>
  </div>
  </div>
  </div>
  
  </div>  
 
  
  
  </section>
  
  
  
  <!-- Animate -->
  <section>
    <div class="animate">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
            <h3>KVP Business Solutions</h3>
<span class="dividing-line"></span>
                <p>
We are a management and process consulting firm with a strong cloud technology solutions practice. We make an ideal partner for organizations that are looking at scaling to next level of growth of their business.</p>
<p>We understand our customer challenges and transform them to opportunities using our unique blend of consulting, process and cloud technology. We are passionate about taking on immense challenges that matter to our customers. </p>
<p>We work with our customers as an extension of their teams and share the goals and objectives that they have for their business. We bring out the capabilities of our customers by fully participating in the process and driving the change.</p>
<h3>Our Values</h3>
<span class="dividing-line"></span>
<p>We're passionate about our actions; we act with strong integrity and fairness to all stakeholders, we foster strong mutual trust and team work. We support our customers with a strong will to drive change and with humility to deliver customer delight. To top it: We listen and we walk the talk.</p>
<h3>Vision</h3>
<span class="dividing-line"></span>
<p>To be the <b>finest</b> cloud technology <b>aggregator</b> with strong emphasis on business <b>consulting</b> to provide transformation <b>value</b> to customers <b>globally.</b></p> 

<h3>Goal</h3>
<span class="dividing-line"></span>
<p>We make business smarter and focus on building happy customers and happy communities.</p>                
                             
              
              
              
              
              
              
            
            </div>
          </div>
          
                 <div class="col-md-3">
          
          			<h4>Success Stories:</h4>

								<div class="toggles1">
									<div class="toggle blog-toggle first">
										<h4 class="opened">
											<i class="minus"></i>
											Titan quality control
										</h4>
										<div class="toggle-content toggle-opened">
                                        <img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>

									<div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
										Titan new product Dev
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>

									<div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
										Apollo Production
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>
                                    
                                    <div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
									Nicomatic CPQ
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>
                                    
                                    
                                    <div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
									ESI CPQ
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>
                                    
                                    <div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
									Dover - MI - Partner portal
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>

								</div> <!-- and toggles1 -->
          </div>
  
        </div>
        <!-- and row --> 
      </div>
      <!-- and container --> 
    </div>
    <!-- and animate --> 
  </section>
  <!-- and Animate --> 