

<!--
	HTML with Open Graph attributes
	<html class="no-js" lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
-->


  
  
  <section>
 

  <div class="sub-banner aboutus-banner">  
  <div class="container">
  <div class="row">
  <div class="sub-title">
  <h2>About KVP Foundation</h2>
  </div>
  </div>
  </div>
  
  </div>  
 
  
  
  </section>
  
  
  
  <!-- Animate -->
  <section>
    <div class="animate">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
            <!-- <h3>KVP Business Solutions</h3> -->
<!-- <span class="dividing-line"></span> -->
                <p>
KVP Foundation is set-up with an intent to support non-profits organizations to be more effective by leveraging the power of cloud. Drawing inspiration from Salesforce.com’s 1:1:1 program, KVP endeavors to dedicate our skills and effort to non-profits across the globe to strengthen their internal systems and processes that would help enhance the quality of their engagement with the larger communities through their programs.</p>
<p>We believe in your mission. We are moved by your cause. Your work inspires ours. </p>
<h3>Our Approach</h3>
<span class="dividing-line"></span>
<p>To engage with NGOs to automate their processes using Salesforce.com using a cost effective model.</p>
<h3>Services Offered</h3>
<span class="dividing-line"></span>
<p>KVP Foundation has identified some of the core areas of focus for Non- profits and we have defined our services to support and empower your cause. We can support you to </p> 
<ul>
  <li type="square">Streamline Fund Raising/ Donor Management Process. </li>
  <li type="square">Effective Program Management.</li>
  <li type="square">Streamline Volunteer Management Process.</li>
  <li type="square">Improve Operational Excellence within your Organisation.</li>
  <li type="square">Communication and better Reporting.</li>
</ul>
<h3>Our Mission</h3>
<span class="dividing-line"></span>
<p>To leverage our Salesforce.com learning sustainably to strengthen those who are leading the change.</p>    
<h3>Our Goal</h3>
<span class="dividing-line"></span>
<p>Our goal is to strengthen non-profits with our Salesforce.com implementation services by providing 1% of our services and 1% of our profits.</p>                  
                             
              
              
              
              
              
              
            
            </div>
          </div>
          
                 <div class="col-md-3">
          
          			<h4>Success Stories:</h4>

								<div class="toggles1">
									<div class="toggle blog-toggle first">
										<h4 class="opened">
											<i class="minus"></i>
											Titan quality control
										</h4>
										<div class="toggle-content toggle-opened">
                                        <img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>

									<div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
										Titan new product Dev
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>

									<div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
										Apollo Production
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>
                                    
                                    <div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
									Nicomatic CPQ
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>
                                    
                                    
                                    <div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
									ESI CPQ
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>
                                    
                                    <div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
									Dover - MI - Partner portal
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>

								</div> <!-- and toggles1 -->
          </div>
  
        </div>
        <!-- and row --> 
      </div>
      <!-- and container --> 
    </div>
    <!-- and animate --> 
  </section>
  <!-- and Animate -->