
<!--
	HTML with Open Graph attributes
	<html class="no-js" lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
-->


  
  <section>
 

  <div class="sub-banner manufacturing-banner">  
  <div class="container">
  <div class="row">
  <div class="sub-title">
  <h2>Banking and Financial Services (BFSI)</h2>
  </div>
  </div>
  </div>
  
  </div>  
 
  
  
  </section>
  
  
  
  <!-- Animate -->
  <section>
    <div class="animate">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-4 block-height">
                <h3>Pipeline Management</h3>
                <span class="dividing-line"></span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                 </div>
              <div class="col-md-4 block-height">
                <h3>Customer Origination</h3>
                 <span class="dividing-line"></span> 
                <p>Onboard your borrowers and investors. Perform identity checks. Review credit history and score your customers. Automate underwriting process.</p>
               </div>
              <div class="col-md-4 block-height">
                <h3>Loan Servicing</h3>
                 <span class="dividing-line"></span> 
                <p>Generate loan contracts with flexible interest options amortization schedules. Manage various investment sources. Automate banking transactions.</p>
                </div>
              <div class="col-md-4 block-height">
                <h3>Wealth Management</h3>
                <span class="dividing-line"></span>
                <p>Log client interests. Manage Know your client (KYC) processes. Administer client holdings and portfolios. Power your financial advisors with info at their tips.</p>
                 </div>
              <div class="col-md-4 block-height">
                <h3>Accounting Integration</h3>
                <span class="dividing-line"></span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                 </div>
              <div class="col-md-4 block-height">
                <h3>Claim Management</h3>
                 <span class="dividing-line"></span> 
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
               </div>
              <div class="col-md-4 block-height">
                <h3>Collections</h3>
                <span class="dividing-line"></span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              </div>
                         
              
              
              
              <section class="manufactor-slider">
			

			<div class="container">
				<div class="row">

					<div class="col-md-12">

						<h3>Enablers</h3>

						<div id="owl-demo-2" class="owl-carousel col-xs-small cursor-move">
						    
						    <div class="client">

						    	<img alt="" src="assets/img/logo-small-essae.png">

							</div>
							<div class="client">

						    	<img alt="" src="assets/img/logo-small-essae.png">

							</div> 
							<div class="client">

						    	<img alt="" src="assets/img/logo-small-essae.png">

							</div>
                            <div class="client">

						    	<img alt="" src="assets/img/logo-small-essae.png">

							</div>
						 

					    </div>

				    </div>

				</div> <!-- and row -->
			</div> <!-- and container -->

		</section>
              
            
            </div>
          </div>
          <div class="col-md-3">
          
          			<h4>Success Stories:</h4>

								<div class="toggles1">
									<div class="toggle blog-toggle first">
										<h4 class="opened">
											<i class="minus"></i>
											Titan quality control
										</h4>
										<div class="toggle-content toggle-opened">
                                        <img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>

									<div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
										Titan new product Dev
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>

									<div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
										Apollo Production
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>
                                    
                                    <div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
									Nicomatic CPQ
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>
                                    
                                    
                                    <div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
									ESI CPQ
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>
                                    
                                    <div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
									Dover - MI - Partner portal
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>

								</div> <!-- and toggles1 -->
          </div>
          
        </div>
        <!-- and row --> 
      </div>
      <!-- and container --> 
    </div>
    <!-- and animate --> 
  </section>
  <!-- and Animate -->