
<!--
	HTML with Open Graph attributes
	<html class="no-js" lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
-->
  
  <section>
 

  <div class="sub-banner aboutus-banner">  
  <div class="container">
  <div class="row">
  <div class="sub-title">
  <h2>Heritage</h2>
  </div>
  </div>
  </div>
  
  </div>  
 
  
  
  </section>
  
  
  
  <!-- Animate -->
  <section>
    <div class="animate">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
            <!-- <h3>KVP Business Solutions</h3> -->
<!-- <span class="dividing-line"></span> -->
                <p>
Ajay Prabhu, founder CEO of KVP Business Solutions, named his company after his great grandfather, Sri K. Venkatesh Prabhu, a staunch Gandhian and the founder of K. V. Prabhu Oil Mills, Karkala (Est. 1931).</p>
<p>Sri Venkatesh Prabhu was attracted by the ideals of Gandhiji when he was young. He was inspired by the National wave of Freedom Movement. He plunged into the “Satyagraha” movement as an active volunteer resulting in his arrest. In 1942, he took part in the decisive “Do or Die” and “Chale Jao” movement. </p>
<p>He also ventured to take up Harijan movement which was dear to Gandhiji. His role in building Shabari Ashram, a free ashram for Harijan students in Karkala is also commendable.</p>
<p>Sri Venkatesh Prabhu, the only son of Sri Narasimha Prabhu and Smt. Padmavati Bai, was a born leader. He was blessed with the acumen to see opportunities and build a successful business, the courage to take the untrodden path and the determination to see his vision through to fruition. What clearly set him apart was his ability to simultaneously bring his business abilities to bear on philanthropic and social causes. The high values and the noble ideals built by Sri Venkatesh Prabhu have earned wide reputation and goodwill for his business in the last seven decades.</p>
<p>A man of noble virtues, he led a meaningful and worthy life. We at KVP strive to adhere to his strong principles, honesty, noble virtues, high ideals and great values. May the light lit by him lead us on his virtuous path. </p>

              
              
              
              
              
              
            
            </div>
          </div>
          
                 <div class="col-md-3">
          
          			<h4>Success Stories:</h4>

								<div class="toggles1">
									<div class="toggle blog-toggle first">
										<h4 class="opened">
											<i class="minus"></i>
											Titan quality control
										</h4>
										<div class="toggle-content toggle-opened">
                                        <img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>

									<div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
										Titan new product Dev
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>

									<div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
										Apollo Production
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>
                                    
                                    <div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
									Nicomatic CPQ
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>
                                    
                                    
                                    <div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
									ESI CPQ
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>
                                    
                                    <div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
									Dover - MI - Partner portal
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>

								</div> <!-- and toggles1 -->
          </div>
  
        </div>
        <!-- and row --> 
      </div>
      <!-- and container --> 
    </div>
    <!-- and animate --> 
  </section>
  <!-- and Animate --> 