

<!--
	HTML with Open Graph attributes
	<html class="no-js" lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
-->

  
  
  <section>
 

  <div class="sub-banner manufacturing-banner">  
  <div class="container">
  <div class="row">
  <div class="sub-title">
  <h2>Manufacturing</h2>
  </div>
  </div>
  </div>
  
  </div>  
 
  
  
  </section>
  
  
  
  <!-- Animate -->
  <section>
    <div class="animate">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-4 block-height">
                <h3>Innovation Management</h3>
                <span class="dividing-line"></span>
                <p>Manage your new product development initiatives. Monitor them through research and design lifecycle. Launch products effectively.</p>
                 </div>
              <div class="col-md-4 block-height">
                <h3>Pipeline Management</h3>
                 <span class="dividing-line"></span> 
                <p>Align dispersed sales team. Forecast accurately. Manage sales quotas and sell uniformly.</p>
               </div>
              <div class="col-md-4 block-height">
                <h3>Configure - Price - Quote</h3>
                 <span class="dividing-line"></span> 
                <p>On-demand quote builder for sales team. Trim down manual errors. Improve turn around time on quotations.  Define approval matrix.</p>
                </div>
              <div class="col-md-4 block-height">
                <h3>Enterprise Resource Planning</h3>
                <span class="dividing-line"></span>
                <p>Plan materials and supply chain efficiently. Manage bill of materials.  Execute and examine production work orders and statuses. Carry out quality tests.</p>
                 </div>
              <div class="col-md-4 block-height">
                <h3>Connect to ERP</h3>
                <span class="dividing-line"></span>
                <p>Have an ERP or many other disparate systems? No Problem! Integrate them to enhance productivity and discover the might of harmonized data.</p>
                 </div>
              <div class="col-md-4 block-height">
                <h3>Service Management</h3>
                 <span class="dividing-line"></span> 
                <p>Handle customer issues gracefully. Self-service portals for customer.  Generate service contracts and manage product warranties. Track service level agreements. Boost service team performance. Fully integrated call center.</p>
               </div>
              <div class="col-md-4 block-height">
                <h3>E-Commerce</h3>
                <span class="dividing-line"></span>
                <p>Sell over Internet with an automated back-office system. Take product catalogues online</p>
                 </div>
              <div class="col-md-4 block-height">
                <h3>Partner Portal</h3>
                 <span class="dividing-line"></span>
                <p>Collaborate with distributors, vendors and business partners. Share leads and manage partner orders. Share knowledge. Administer inventory and assets.</p>
                </div>
              <div class="col-md-4 block-height">
                <h3>Mobile</h3>
                <span class="dividing-line"></span>
                <p>Ferry with organization processes and intelligence. Anytime, anywhere on any device.</p>
                 </div>
              
              
              
              
              <section class="manufactor-slider">
			

			<div class="container">
				<div class="row">

					<div class="col-md-12">

						<h3>Enablers</h3>

						<div id="owl-demo-2" class="owl-carousel col-xs-small cursor-move">
						    
						    <div class="client">

						    	<img alt="" src="assets/img/logo-small-essae.png">

							</div>
							<div class="client">

						    	<img alt="" src="assets/img/logo-small-essae.png">

							</div> 
							<div class="client">

						    	<img alt="" src="assets/img/logo-small-essae.png">

							</div>
                            <div class="client">

						    	<img alt="" src="assets/img/logo-small-essae.png">

							</div>
						 

					    </div>

				    </div>

				</div> <!-- and row -->
			</div> <!-- and container -->

		</section>
              
            
            </div>
          </div>
          <div class="col-md-3">
          
          			<h4>Success Stories:</h4>

								<div class="toggles1">
									<div class="toggle blog-toggle first">
										<h4 class="opened">
											<i class="minus"></i>
											Titan quality control
										</h4>
										<div class="toggle-content toggle-opened">
                                        <img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>

									<div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
										Titan new product Dev
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>

									<div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
										Apollo Production
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>
                                    
                                    <div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
									Nicomatic CPQ
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>
                                    
                                    
                                    <div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
									ESI CPQ
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>
                                    
                                    <div class="toggle blog-toggle">
										<h4>
											<i class="plus"></i>
									Dover - MI - Partner portal
										</h4>
										<div class="toggle-content">
											<img src="assets/img/success-stories-1.jpg" />
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
										</div>
									</div>
									<div class="bottom-border"></div>

								</div> <!-- and toggles1 -->
          </div>
        </div>
        <!-- and row --> 
      </div>
      <!-- and container --> 
    </div>
    <!-- and animate --> 
  </section>
  <!-- and Animate --> 