
<!--
	HTML with Open Graph attributes
	<html class="no-js" lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
-->

  <section>
 

  <div class="sub-banner team-banner">  
  <div class="container">
  <div class="row">
  <div class="sub-title">
  <h2>Core Team</h2>
  </div>
  </div>
  </div>
  
  </div>  
 
  
  
  </section>
  
  
  
		<section>
			<div class="team">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-12 col-xs-12">
							<ul class="avatar avatar-list">
								<li class="active">
									<a data-toggle="tab" href="#pane1">
										<div class="avatar-img">
											<img alt="" src="assets/img/ajay.jpg">
										</div>
										<span class="avatar-corner"></span>
										<h3>Ajay Prabhu</h3>
										<p>(CEO)</p>
										<ul class="social-small list-inline hidden-xs ">
											<li><i class="fa fa-facebook"></i></li>
											<li><i class="fa fa-google-plus"></i></li>
											<li><i class="fa fa-twitter"></i></li>
										</ul>
									</a>
									<span class="bottom-border"></span>
								</li>
								

								<li>
									<a data-toggle="tab" href="#pane2">
										<div class="avatar-img">
											<img alt="" src="assets/img/rahul.jpg">
										</div>
										<span class="avatar-corner"></span>
										<h3>Rahul Baliga</h3>
										<p>VP - Customer For Life</p>
										<ul class="social-small list-inline hidden-xs ">
											<li><i class="fa fa-facebook"></i></li>											
											<li><i class="fa fa-google-plus"></i></li>
											<li><i class="fa fa-twitter"></i></li>
										</ul>
									</a>
									<span class="bottom-border"></span>
								</li>

								<li>
									<a data-toggle="tab" href="#pane3">
										<div class="avatar-img">
											<img alt="" src="assets/img/vijay.jpg">
										</div>
										<span class="avatar-corner"></span>
										<h3>Vijay Prabhu</h3>
										<p>VP - Customer Transformation</p>
										<ul class="social-small list-inline hidden-xs ">
											<li><i class="fa fa-facebook"></i></li>											
											<li><i class="fa fa-google-plus"></i></li>
											<li><i class="fa fa-twitter"></i></li>
										</ul>
									</a>
									<span class="bottom-border"></span>
								</li>

								<li>
									<a data-toggle="tab" href="#pane4">
										<div class="avatar-img">
											<img alt="" src="assets/img/varun.jpg">
										</div>
										<span class="avatar-corner"></span>
										<h3>Varun Nagpal</h3>
										<p>VP - Customer Success</p>
										<ul class="social-small list-inline hidden-xs ">
											<li><i class="fa fa-facebook"></i></li>
											<li><i class="fa fa-pinterest"></i></li>
											<li><i class="fa fa-google-plus"></i></li>
										</ul>
									</a>
									<span class="bottom-border"></span>
								</li>

								
							</ul>
						</div>

						<div class="col-md-8 col-sm-12 col-xs-12 tab-content">

							<div id="pane1" class="tab-pane active">
													
								<div class="blog-item-quote">

									<p>Ajay has over 15 years of experience and holds a BE from Manipal Institute of Technology, Manipal and a MBA from T.A Pai Management Institute (TAPMI) Manipal.</p>

								</div>
								<div class="bottom-border">
								</div>
				


								<h4 class="upp">short bio:</h4>

							<p>	As CEO of KVP, Ajay is responsible for overall strategy and growth of the company.</p>

<p>He is mostly involved in working with customers in defining vision and approach to scale enterprises.</p>

<p>He also mentors the internal team and takes an active interest in the individual development of each team member.</p>

<p>He has a wide-ranging experience in field IT products, solutions and services, manufacturing and engineering, sales & marketing, product management and globalization.</p>

<p>Prior to starting KVP he was heading marketing and demand generations function and also led US sales for QuEST. He also worked for IBM and Wipro in sales, marketing and strategy groups.</p>


							

								
								

							</div><!-- and pane1 -->

							<div id="pane2" class="tab-pane">
													
								<div class="blog-item-quote">
	                               <p>Rahul has over 15 years of experience and he graduated from The University of Newcastle, Australia with a MBA and also holds a BE from MIT, Manipal.</p>

								</div>
								<div class="bottom-border">
								</div>

								<h4 class="upp">short bio:</h4>

							 	
<p>Rahul is responsible for the overall operations and managing the Customer for Life Team within KVP.</p>

<p>He spends time understanding customer needs, planning resources, putting in place processes and driving project deliveries for achieving higher customer satisfaction. He is also a Certified Scrum Master.</p>

<p>Prior to joining KVP he was heading the marketing function for Allied Worldwide Business Solutions.</p>

<p>He was previously associated with QuEST and Eureka Forbes in areas of marketing, branding, corporate communications and customer support operations.</p>




							
							</div><!-- and pane2 -->

							<div id="pane3" class="tab-pane">
													
								<div class="blog-item-quote">

								<p>Vijay has been in the technical industry for the past 15 years and prior to joining KVP, has worked at CSC, Wipro.</p> 	

								</div>
								<div class="bottom-border">
								</div>

								<h4 class="upp">short bio:</h4>
<p>Vijay as VP of Customer Transformation Group is responsible for guiding his team and KVP for framing, evaluating and implementing various customer projects.</p>

<p>Vijay also manages an array of strategic projects that cut across disciplines and functional areas which involve our internal and external stakeholders.</p>

<p>He is responsible for managing ensuring the success of the delivery organisation within KVP and is actively involved in the competency development of the delivery teams.</p>

<p>Vijay has a broad experience in database technologies with a focus on data modeling / design and database re-engineering. Has extensive experience on Oracle technologies. During his tenure in other companies, he has worked on RDBMS's which include SQL Server, Sybase, MySQL. He has had functional exposure to healthcare industry.</p>


							

						

								
							
							</div><!-- and pane3 -->

							<div id="pane4" class="tab-pane">
													
								<div class="blog-item-quote">

									<p>Varun graduated from Institute of Business Management and Research.</p>

								</div>
								<div class="bottom-border">
								</div>

								<h4 class="upp">short bio:</h4>

							
	                           <p>Varun as VP Customer Success Group is responsible for leading quality, innovation and cloud product development. Varun would be setting up and defining the quality management systems and policy for the entire organization. He is also responsible in building stronger requirement gathering, project management systems and testing processes to drive higher customer satisfaction. He would also be introducing, configuring, deploying and driving adoption of systems within business.</p>

<p>Varun has completed Administrator, Consultant and Developer certifications from <a target="_blank" href="http://www.salesforce.com/">Salesforce.com</a>. He is also a Certified Scrum Master. Prior to joining KVP, Varun was working at Dell and has experience in business automation.</p>


								
								
							</div><!-- and pane4 -->

						</div>

					</div>
				</div>
			</div> 
		</section>



	<!-- PrettyPhoto -->
	<script type="text/javascript">
	jQuery.noConflict()( function($){
		$("a[data-gal^='prettyPhoto']").prettyPhoto();
	});
	</script>
	<!-- and PrettyPhoto -->
