
<!--
	HTML with Open Graph attributes
	<html class="no-js" lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
-->

  <section>
 

  <div class="sub-banner manufacturing-banner">  
  <div class="container">
  <div class="row">
  <div class="sub-title">
  <h2>Manufacturing</h2>
  </div>
  </div>
  </div>
  
  </div>  
 
  
  
  </section>
  
  
  
  <!-- Animate -->
  <section>
    <div class="animate">
      <div class="container">
        <div class="row">
        
        <div class="paddingtb25">
         <div class="col-md-6 text-center">
          <img data-wow-iteration="1" data-wow-offset="350" class="animate-img wow slideInRight animated" src="assets/img/sales-force.jpg" alt="" style="visibility: visible;-webkit-animation-iteration-count: 1; -moz-animation-iteration-count: 1; animation-iteration-count: 1;">
          </div>
          
          <div class="col-md-6">
          <h3>Sales Force</h3>
          <p>Our experience on salesforce.com combined with industry knowledge from

experts enable us to deliver novel solutions for our customers. We have 

proficiency of developing solutions across different industries and have 

served customers across globe through salesforce.com products and on 

force.com platform. We also have competency to develop products for our 

customers, maintain and launch them on salesforce's most popular 

marketplace - appexchange.</p>
<h3>Technology Stack</h3>
          </div>
                   <div class="clearfix"></div>
          </div>
          
          <div class="dividing-line"></div>
 
          
          <div class="paddingtb25">
          <div class="col-md-6">
          <h3>Ruby on Rails</h3>
          <p>We build web applications using Ruby on Rails as core technology. We

expertise in creating clean, engaging and responsive UI / UX designs. In the 

world of javascripts, our understanding on the new age JS frameworks 

enables us to deliver cutting-edge products for our customers. We also have 

capability to integrate with third party applications through web services. 

We work closely with our customers to define MVP and focus on faster 

rollouts.</p>
<h3>Technology Stack</h3>
          </div>
          
          <div class="col-md-6 text-center">
          <img data-wow-iteration="1" data-wow-offset="350" class=" animate-img wow slideInLeft animated" src="assets/img/ruby-rails.jpg" alt="" style="visibility: visible;-webkit-animation-iteration-count: 1; -moz-animation-iteration-count: 1; animation-iteration-count: 1;">
          </div>
          <div class="clearfix"></div>
          
          </div>
          
          <div class="dividing-line"></div>
         
          
        </div>
        <!-- and row --> 
      </div>
      <!-- and container --> 
    </div>
    <!-- and animate --> 
  </section>
  <!-- and Animate --> 