<% content_for :body do %>
  <%= raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any? %>
  <% if @posts.any? %>
  
    <section id="blog_posts">
      <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
      <%= will_paginate @posts,:previous_label => '<', :next_label => '>' %>
    </section>
  <% else %>
    <div class="blog-div">
      <h2>No blog articles posted yet!</h2>
    </div>
  <% end %>
<% end %>

<%= render '/refinery/content_page', :hide_sections => :body_content_title %>
<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>
