
  <% page_url = ( item.url.is_a?(Hash) or item.url.is_a?(String) ) %>
  <% if item.present? and item.show_in_sitemap? %>
    <div id="<%= dom_id(item) -%>">					
    
      <%= link_to item.title,
                  item.url,
                  :title => t('.view_live_html') %>
        
      <div class = "nested-child" data-ajax-content="<%= refinery.admin_children_pages_path(item.nested_url) %>">
		<%= render(:partial => 'subpage', :collection => item.children, :as => :item) if Refinery::Pages.auto_expand_admin_tree %>
	  </div>
    </div>
  <% end %>
			  