<ul>
  <li>
    <%= render '/refinery/admin/search', :url => refinery.admin_pages_path %>
  </li>
  <li>
    <%= render '/partials/new_page' %>
  </li>
<% if @pages.many? and !searching? %>
  <li>
    <%= link_to t('.reorder_pages'), refinery.admin_pages_path,
                :id => "reorder_action",
                :class => "reorder_icon" %>

    <%= link_to t('.reorder_pages_done'), refinery.admin_pages_path,
                :id => "reorder_action_done",
                :style => "display: none;",
                :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
