<section class='row custom-row sub-search-header'>
  <div class="container">
    <section class="col-md-12">
      <%= @category.title %>
    </section>
  </div>
</section>

<div class="container">
  <% if @posts.any? %>
    <section id="blog_posts">
      <%= render :partial => "/refinery/blog/shared/post", :collection => @posts, :locals => { :wide => true } %>

      <%= will_paginate @posts, :previous_label => '<', :next_label => '>' %>
    </section>
  <% else %>

    <div class="blog-div" style="padding-bottom: 50px;">
      <h2>
        Not Found
      </h2>
    </div>

  <% end %>

  <%#= render "/refinery/content_page" %>
  <% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>
</div>