




		<!-- Page title -->
		<section>
			<div class="page-title">
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-sm-5">
							<h3>Contact</h3>
						</div>
						<div class="col-md-7 col-sm-7 hidden-xs">
							<div class="page-title-address">
								<a href="">Contact</a><i class="fa fa-angle-right"></i>
								<a href="index-6.html">Home</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> <!-- and Page title -->


		<!-- Google map -->
	    <div id="map"></div>
		<!-- and Google map -->
		
		<!-- Contact -->
		<section>
			<div class="contact-classic">
				<div class="container">
					<div class="row">

					
						<div class="col-md-6 contact">
							<!-- Contact form -->
						<span class="title">Business Inquiry:</span>
								<form class="contact-form" action="contact-form.php" method="post" name="contact_form" id="email_send_form">

									<input name="name" class="your-label-contact" type="text" placeholder="Your name *">

									<input name="email" class="your-label-contact" type="text" placeholder="Your Email *">

									<input class="your-label-contact" type="text" placeholder="Subject">

									<textarea  name="text" class="your-label-contact-text" placeholder="Message *"></textarea>

									<p class="red-span">* - required </p>

									<button type="submit" name="submit" class="button-green upp" id="send">send message</button> 

									<div id="result"></div>
								</form>
								<!-- and Contact form -->						
						</div>

						<div class="col-md-6">
							<span class="title">Share:</span>

							<ul class="share">
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-pinterest"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
								<li><a href=""><i class="fa fa-dribbble"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
							</ul>

							<span class="title">Contact details:</span>

							<p>Thank you for your interest in KVP Business Solutions. Please contact using the information below. For additional services offered information or office contacts, visit the appropriate page of our site.</p>

							<span class="contact-adress">
								<b>Office address:</b><br>
								Crimson Court <br>
								#4, 1st floor  <br> Jeevan Bhima Nagar Main Road <br>
                                HAL 3rd Stage <br> Bangalore - 560 075 <br>
								<b>Phone:</b>  +91 - 80 - 40871908 <br>
								<b>Fax:</b> +91 - 80 - 41741901 <br>
								<b>Email:</b>  info@kvpcorp.com <br>
							</span>
						</div>

					</div>
				</div>
			</div>
		</section>
		<!-- and Contact -->

		
		<footer id="footer">
		</footer> <!-- and footer -->

		<!-- Bottom bar -->
		<section>
			
			<div class="bottom-bar">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12 col-xs-small pull-right">
							<ul class="list-inline pull-right">
								<li><a href="index-6.html">Disclaimer</a></li>
								<li><a href="blog.html">Privacy Policy</a></li>
								<li><a href="shop-1.html">Sitemap</a></li>
							</ul>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 col-xs-small copyright">
							<p>&#169; 2014 KVP Business Solutions. All Rights Reserved.</p>
						</div>						
					</div> <!-- and row -->
				</div> <!-- and container -->
			</div> <!-- and bottom-bar -->

		</section> <!-- and Bottom bar -->

		<a href="#" class="back-to-top"></a>

	</div> <!-- and wrap -->
	

	<!-- Google map -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script>
	    function initialize() {
	        var myLatlng = new google.maps.LatLng(12.967674,77.653963);
	        var mapOptions = {
	          zoom: 15,
	          center: myLatlng,
	          mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
	        }
	        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

	        var companyLogo = new google.maps.MarkerImage('img/map-icon.png',
	        new google.maps.Size(83,137),
	        new google.maps.Point(0,0),
	        new google.maps.Point(38,46)
	        );

	        var marker = new google.maps.Marker({
	            position: myLatlng,
	            map: map,
	            icon: companyLogo,
	            title: 'KVP'
	        });
	      }

	    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <!-- and Google map -->

	<!-- jQuery -->


	<script src="contact-form.php"></script>

	

	






