


<!--
	HTML with Open Graph attributes
	<html class="no-js" lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
-->


	
		<div class="index-2">

		<!-- Slider -->
		<article class="slider-2">
			
			<div class="tp-banner-container">
				<div class="tp-banner cursor-move" >
					<ul>

						<!-- SLIDE 1 -->
						<li class="slide-1" data-transition="fade" data-slotamount="5" data-masterspeed="700">
							<!-- MAIN IMAGE -->
							<img src="img/rev_slider/slider-big-1.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
							<!-- LAYERS -->

							<!-- LAYER NR. 1 -->
							<div class="hidden-xs tp-caption sft customout"
								data-x="center"
								data-y="-20"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformOrigin:50% 50%;"
								data-speed="2500"
								data-start="250"
								data-easing="Power4.easeOut"
								data-endspeed="900"
								data-endeasing="Power1.easeIn"
								data-captionhidden="on"
								>
								<img src="img/rev_slider/slider-big-s.png" alt="">
							</div>

							<!-- LAYER NR. 2 -->
<!-- 							<div class="tp-caption sfr customout hidden-xs layer-2"
								data-x="center"
								data-y="406"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformOrigin:50% 50%;"
								data-speed="1200"
								data-start="250"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power1.easeIn"
								data-captionhidden="on"
								><h1>Welcome to <b>KVP Buisness Solutions</b></h1>
								</div> -->

							<!-- LAYER NR. 3 -->
							<div class="tp-caption sfr customout hidden-sm hidden-xs layer-3"
								data-x="center"
								data-y="493"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformOrigin:50% 50%;"
								data-speed="1200"
								data-start="250"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power1.easeIn"
								data-captionhidden="on"
								><p><b>Powerful and Scalable Enterprise Applications on Cloud</b></p>
								</div>

							<!-- LAYER NR. 4 -->
<!-- 							<div class="tp-caption sfr customout hidden-sm hidden-xs layer-4"
								data-x="center"
								data-y="518"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformOrigin:50% 50%;"
								data-speed="1200"
								data-start="250"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power1.easeIn"
								data-captionhidden="on"
								><p>WPML, page builder, fully customizible design</p>
								</div> -->
														
							<!-- LAYER NR. 5 -->
<!-- 							<div class="tp-caption sfl customout layer-5"
								data-x="center"
								data-y="545"
								data-customin="x:-200;y:0;z:;rotationX:0;rotationY:;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:300;transformOrigin:0% 0%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformOrigin:50% 50%;"
								data-speed="1200"
								data-start="300"
								data-easing="Power4.easeOut"
								data-endspeed="700"
								data-endeasing="Power1.easeIn"
								data-captionhidden="on"
								><a class="button-green upp">learn more</a>
							</div> -->

						</li>

						<!-- SLIDE 2 -->
						<li class="slide-2" data-transition="fade" data-slotamount="7" data-masterspeed="1000" >
							<!-- MAIN IMAGE -->
							<img src="img/rev_slider/slider-big-2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
							<!-- LAYERS -->

							<!-- LAYER 1 -->
							<div class="tp-caption sft customout hiiden-phone layer-1"
								data-x="104"
								data-y="205"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformOrigin:50% 50%;"
								data-speed="2500"
								data-start="250"
								data-easing="Power4.easeOut"
								data-endspeed="900"
								data-endeasing="Power1.easeIn"
								data-captionhidden="on"
								><p class="upp"><b>Passion 2 Action</b></p>
							</div>
							<!-- LAYER 2 -->
							<div class="tp-caption sfr customout layer-2"
								data-x="104"
								data-y="265"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformOrigin:50% 50%;"
								data-speed="1200"
								data-start="250"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power1.easeIn"
								data-captionhidden="on"
								><p class="slide_text_hide_768">We align ourselves with your intense enthusiasm, consult and achieve together</p>
								<a>Read more about our p2a approach</a>
							</div>

							<!-- LAYER 3 -->
<!-- 							<div class="tp-caption sfl customout hidden-xs layer-3"
								data-x="104"
								data-y="380"
								data-customin="x:-200;y:0;z:;rotationX:0;rotationY:;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:300;transformOrigin:0% 0%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformOrigin:50% 50%;"
								data-speed="1200"
								data-start="300"
								data-easing="Power4.easeOut"
								data-endspeed="700"
								data-endeasing="Power1.easeIn"
								data-captionhidden="on"
								>
							</div>
 -->
						</li>
					</ul>
					
					<div class="tp-bannertimer"></div>
				</div>
			</div>

		</article> <!-- and Slider -->

  <!-- Testimonials -->
		<section>
			
			<div class="testimonials">

				<div class="testimonials-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h2 class="wow fadeIn">Customer Testimonial</h2>
							</div>
						</div> <!-- and row -->
					</div> <!-- and container -->
				</div> <!-- and testimonials-header -->

				<div class="testimonials-content wow fadeIn" data-wow-delay="0.5s">
					<div class="container">
						<div class="row">

						    <div id="owl-demo-4" class="owl-carousel">
							    <div class="testimonials-item">
							    	<div class="testimonials-item-content">
							    		<p>KVP has ably supported us in strengthening our customer acquisition and retention processes that provides us excellent business visibility by implementing a robust and scalable platform using the Salesforce.com. What impressed us most about KVP was the flexibility and understanding of processes that they demonstrated to ensure that timelines and efforts were inline with our budgets.</p>
									</div>
									<div class="bottom-border"> </div>
									<div class="testimonials-autor">
							    		<h3>J Guruprasad Murty</h3>
							    		<span>CIO</span>
							    	</div>
							    </div>	
						    </div>
							
						</div> <!-- and row -->
					</div> <!-- and container -->
				</div> <!-- and testimonials-content -->

			</div> <!-- and testimonials -->

		</section> <!-- and Testimonials -->


		<!-- Service icons -->
		<section>
			
			<div class="service">
				<div class="container">
					<div class="row">

						<div class="wow fadeInUp col-md-3 col-sm-6 col-xs-6 col-xs-small">
							<div class="bg-ico ico-1"><i class="icon-scale-border"></i></div>
							<h3>Consultative</h3>
							<p>One size doesn’t fit all. We tailor solutions based on business maturity and needs.</p>
						</div>
						<div class="wow fadeInUp col-md-3 col-sm-6 col-xs-6 col-xs-small" data-wow-delay="0.5s">
							<div class="bg-ico ico-2"><i class="icon-scale-border"></i></div>
							<h3>Agile (or) Waterfall</h3>
							<p>Choosing a right project management approach is a determining factor for project success.</p>
						</div>
						<div class="wow fadeInUp col-md-3 col-sm-6 col-xs-6 col-xs-small" data-wow-delay="1s">
							<div class="bg-ico ico-3"><i class="icon-scale-border"></i></div>
							<h3>Adoption Focus</h3>
							<p>Implementation that revolves around user adoption, not just features and functionalities.</p>
						</div>
						<div class="wow fadeInUp col-md-3 col-sm-6 col-xs-6 col-xs-small" data-wow-delay="1.5s">
							<div class="bg-ico ico-4"><i class="icon-scale-border"></i></div>
							<h3>Test Driven Development</h3>
							<p>Test cases first and then development ensures a stable application for our customers.</p>
						</div>

					</div> <!-- and row -->
				</div> <!-- and container -->
			</div> <!-- and service -->

		</section> <!-- and Service icons -->

		<!-- Recent post -->
	

		<!-- Features tools -->
<!-- and Features tools -->

		<!-- Featured project -->
		<section>

			<div class="featured-project-header">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2 class="wow fadeIn">Customers</h2>
						</div>
					</div> <!-- and row -->
				</div> <!-- and container -->
			</div> <!-- and featured-project-header -->


			<div class="featured-project-content cursor-move">

	           <div id="owl-carousel" class="owl-carousel">
<!-- 	                <div class="item">
	                	<div>
	                	
	                	<a class="c-pointer" href="img/featured-projects/jana.png" data-rel="prettyPhoto[gallery]"></a>
	                	</div>
	                	<img  data-wow-delay=".2s" alt="" src="img/featured-projects/jana.png">
	                </div>
	                <div class="item">
	                	<div>
	                	
	                	<a class="c-pointer" href="img/featured-projects/elecom_small.jpg" data-rel="prettyPhoto[gallery]"></a>
	                    </div>
	                    <img  data-wow-delay=".4s" alt="" src="img/featured-projects/elecom_small.jpg">
	                </div>
	                <div class="item">
	                	<div>
	                	
	                	<a class="c-pointer" href="img/featured-projects/janalakshmi.png" data-rel="prettyPhoto[gallery]"></a>
	                    </div>
	                	<img data-wow-delay=".6s" alt="" src="img/featured-projects/janalakshmi.png">
	                </div>
	                <div class="item">
	                	<div>
						
						<a class="c-pointer" href="img/featured-projects/jubilantbiosys_logo_small.jpg" data-rel="prettyPhoto[gallery]"></a>
	                    </div>
	                    <img class="fadeIn" data-wow-delay=".8s" alt="" src="img/featured-projects/jubilantbiosys_logo_small.jpg">
	                </div>
	                <div class="item">
	                	<div>
	                	
	                	<a class="c-pointer" href="img/featured-projects/Lapp-India-Logo.png" data-rel="prettyPhoto[gallery]"></a>
	                	</div>
	                	<img data-wow-delay="1s" alt="" src="img/featured-projects/Lapp-India-Logo.png">
	                </div>
	                <div class="item">
	                	<div>
	                	
	                	<a class="c-pointer" href="img/featured-projects/lenevo_small.jpg" data-rel="prettyPhoto[gallery]"></a>
	                	</div>
	                	<img data-wow-delay="1.2s" alt="" src="img/featured-projects/lenevo_small.jpg">
	                </div>
	                <div class="item">
	                	<div>
						
						<a class="c-pointer" href="img/featured-projects/logo_24.jpg" data-rel="prettyPhoto[gallery]"></a>
	                	</div>
	                    <img data-wow-delay="1.4s" alt="" src="img/featured-projects/logo_24.jpg">
	                </div>
	                <div class="item">
	                	<div>
	                	
	                	<a class="c-pointer" href="img/featured-projects/logo_acronica.jpg" data-rel="prettyPhoto[gallery]"></a>
	                    </div>
	                	<img  data-wow-delay="1.6s" alt="" src="img/featured-projects/logo_acronica.jpg">
	                </div> -->
	         <!--        <div class="item">
	                	<div>
	                	
	                	<a class="c-pointer" href="img/featured-projects/logo_belden.jpg" data-rel="prettyPhoto[gallery]"></a>
	                	</div>
	                    <img data-wow-delay="1.8s" alt="" src="img/featured-projects/logo_belden.jpg">
	                </div> -->
	                <div class="item">
	                	<div>
	                	
	                	<a class="c-pointer" href="img/featured-projects/logo_barry.jpg" data-rel="prettyPhoto[gallery]"></a>
	                	</div>
	                	<img data-wow-delay="2s" alt="" src="img/featured-projects/logo_barry.jpg">
	                </div>
	            </div>


			</div> <!-- and featured-project-content -->
			
		</section> <!-- and Featured project -->

		<!-- About project -->
 <!-- and About project -->

		<!-- Mobile custum -->
		 <!-- Mobile custum -->

		<!-- Callout -->
	 <!-- callout -->

	<!-- Bottom bar -->
		<section>
			
			<div class="bottom-bar">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12 col-xs-small pull-right">
							<ul class="list-inline pull-right">
								<li><a href="index-6.html">Disclaimer</a></li>
								<li><a href="blog.html">Privacy Policy</a></li>
								<li><a href="shop-1.html">Sitemap</a></li>
							</ul>
							
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 col-xs-small copyright">
							<p>&#169; 2014 KVP Business Solutions. All Rights Reserved.</p>
						</div>						
					</div> <!-- and row -->
				</div> <!-- and container -->
			</div> <!-- and bottom-bar -->

		</section> <!-- and Bottom bar -->

		<a href="#" class="back-to-top"></a>




