
<!--
	HTML with Open Graph attributes
	<html class="no-js" lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
-->




  
  
  <div class="index-2"> 
    
    <!-- Slider -->
    <article class="slider-2">
      <div class="tp-banner-container">
        <div class="tp-banner cursor-move" >
          <ul>
            
            <!-- SLIDE 1 -->
            <li class="slide-1" data-transition="fade" data-slotamount="5" data-masterspeed="700"> 
              <!-- MAIN IMAGE --> 
              <img src="assets/img/rev_slider/slider-2.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"> 
              <!-- LAYERS --> 
              
            </li>
            
            <!-- SLIDE 2 -->
            <li class="slide-2" data-transition="fade" data-slotamount="7" data-masterspeed="1000" > 
              <!-- MAIN IMAGE --> 
              <img src="assets/img/rev_slider/slider-1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"> 
              <!-- LAYERS --> 
              
            </li>
          </ul>
          <div class="tp-bannertimer"></div>
        </div>
      </div>
    </article>
    <!-- and Slider --> 
    
    <!-- Service icons -->
    <section>
      <div class="service">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6 col-xs-small">
              <div class="bg-ico ico-1"><i class="icon-scale-border"></i></div>
              <h3>Consultative</h3>
              <p>One size doesn't fit all. We tailor solutions based on business maturity and needs.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xs-small">
              <div class="bg-ico ico-2"><i class="icon-scale-border"></i></div>
              <h3>Agile (or) Waterfall</h3>
              <p>Choosing a right project management approach is a determining factor for project success.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xs-small">
              <div class="bg-ico ico-3"><i class="icon-scale-border"></i></div>
              <h3>Adoption Focus</h3>
              <p>Implementation that revolves around user adoption, not just features and functionalities.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xs-small">
              <div class="bg-ico ico-4"><i class="icon-scale-border"></i></div>
              <h3>Test Driven Development</h3>
              <p>Test cases first and then development ensures a stable application for our customers.</p>
            </div>
          </div>
          <!-- and row --> 
        </div>
        <!-- and container --> 
      </div>
      <!-- and service --> 
      
    </section>
    <!-- and Service icons --> 
    
    <!-- Callout -->
    <section>
      <div class="callout-2">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-sm-8">
              <h3>Unleash your business potential</h3>
              <p>KVP is a management consulting firm with strong cloud technology practices. We are an ideal partner for organizations who are looking forward to unleash their potential to scale to next level of growth.</p>
            </div>
            <div class="col-md-3 col-sm-4"> <span class="button-gray upp pull-left">learn more</span> </div>
          </div>
          <!-- and row --> 
        </div>
        <!-- and container --> 
      </div>
      <!-- and callout --> 
      
    </section>
    <!-- callout -->
    
    <section>
      <div class="ralaited-products">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Customers</h2>
              <div id="owl-demo-7" class="owl-carousel col-xs-small none cursor-move">
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/logo-microland.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3> Technology</h3>
                      <p>Networking </p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container -->
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/logo-essae.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Manufacturing</h3>
                      <p>Fabrication & Custom Manufacturing </p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a> -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container -->
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/logo-essae-1.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Technology</h3>
                      <p>IT Hardware & Manufacturing </p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container -->
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/essae_logo.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Manufacturing</h3>
                      <p>Product Manufacturing </p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/logo-maini.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Manufacturing</h3>
                      <p>Product Manufacturing</p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
 
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/tataelxsi_logo.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Technology</h3>
                      <p>Technology / R&D Services</p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container --> 
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/Mindtree-logo.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Technology</h3>
                      <p>IT Services</p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container --> 
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/tntLogo.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Manufacturing</h3>
                      <p>Supply Chain and Distribution</p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container -->                         
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/Elecon-Engineering-Company-Logo.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Manufacturing</h3>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container -->               
                        
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/jubilantbiosys-logo.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Life Sciences</h3>
                      <p>Drug Discovery</p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container -->              
                        
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/24-7customer-logo.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Technology</h3>
                      <p>ITES / Call Center / BPO</p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container -->              
                        
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/ConnectM_logo.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Manufacturing</h3>
                      <p>FMCG & Retail</p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container -->             
                        
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/barry-wehmiller-international-logo.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Manufacturing</h3>
                      <p>Industrial Equipment</p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container -->             
                        
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/royal-orchid-hotel-logo.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Real Estate & Hospitality</h3>
                      <p>Hospitality</p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container -->             
                        
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/shree-logo.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Hospitality and real estates</h3>
                      <p>Hospitality</p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container -->             
                        
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/Inmobi.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Technology</h3>
                      <p> Mobile Technology</p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container -->             
                        
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/janaagraha-logo.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>NGO</h3>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container -->           
                        
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/neil-med-logo.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Life Sciences</h3>
                      <p> Pharma & Drug Manufacturing</p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container -->          
                        
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/richie-rich-logo.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Financial Services</h3>
                      <p>Investment Advisors, Insurance</p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container -->            
                        
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/acronis.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Technology</h3>
                      <p>IT Services / Solution</p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container -->             
                        
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/avon-logo.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Life Sciences</h3>
                      <p>Medical Equipment</p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container -->               
                        
                
                <div class="shop-content-item-container">
                  <div class="shop-content-item">
                    <div class="shop-item-container"> <img alt="" src="assets/img/apollo-techno-equipments-limited-logo.png" /> </div>
                    <div class="shop-content-item-description">
                      <h3>Manufacturing</h3>
                      <p>Fabrication & Custom Mfg</p>
                      <!-- <a href="#" class="option">Success Story <i class="fa fa-angle-right"></i></a> <a href="#" class="option">Press Release <i class="fa fa-angle-right"></i></a>  -->
                    </div>
                    <!-- and shop-content-item-description -->
                    
                    <div class="bottom-border"> </div>
                  </div>
                  <!-- and shop-content-item --> 
                  
                </div>
                <!-- and shop-content-item-container -->  
                
              </div>
            </div>
          </div>
          <!-- and row --> 
        </div>
        <!-- and container --> 
      </div>
      <!-- and relaited-products --> 
      
    </section>
    
    
    
    
    
    
  </div>
  <!-- and index-2 --> 
  
  
  
  
  
  
  
		<section>
		<div class="index-4">	
			<div>
			<div class="container">
				<div class="row">

					<div class="col-md-12">

						<h2>Customer Testimonial</h2>

						<div id="owl-demo-8" class="owl-carousel col-xs-small none cursor-move">
						    
						   

						    <div class="people-quote">
						    	 <div class="item-quote">
									<p>We are pleased to have selected KVP as our strategic partner for improving store operations. We have aggressive plans to increase our footprints.</p>
								</div>
								<span class="bottom-border"></span>
								

								<div class="people-av">
								
									<h4>Mr. Venkatesh Pai,</h4>
									<p>Managing Director,Bharath Bookmark.</p>
								</div>

						    </div>

					<div class="people-quote">
						    	 <div class="item-quote">
									<p>We wanted to bring in better integration and productivity from our strong sales and distribution network through the power of information technology. KVP's comprehensive concept-to-implementation solutions expertise coupled with strong post implementation support has helped us achieve this goal.</p>
								</div>
								<span class="bottom-border"></span>
								

								<div class="people-av">
									
									<h4>Mr. George Mathew,</h4>
									<p>Director, Matts Corner.</p>
								</div>

						    </div>

						    <div class="people-quote">
						    	 <div class="item-quote">
									<p>KVP has worked closely with our team in implementing a solution that will help in improving the overall value that we provide to our customers.</p>
								</div>
								<span class="bottom-border"></span>
								

								<div class="people-av">
								
									<h4>Viplov J.G, </h4>
									<p>CEO, Werner Finley Pvt. Ltd.</p>
								</div>

						    </div>
                            
                            <div class="people-quote">
						    	 <div class="item-quote">
									<p>We turned to KVP to streamline our customer facing process to address our growth plans. Their ability to formally assess our situation, identify key sales gaps, develop a plan to measure the results, and fully implement a business led technology solution, has been remarkable.</p>
								</div>
								<span class="bottom-border"></span>
								

								<div class="people-av">
									
									<h4>Dhruv Patel, </h4>
									<p>VP - Business Development, Apollo.</p>
								</div>

						    </div>
						    
						    <div class="people-quote">
						    	 <div class="item-quote">
									<p>KVP has ably supported us in strengthening our customer acquisition and retention processes that provides us excellent business visibility by implementing a robust and scalable platform using the Salesforce.com. What impressed us most about the flexibility and demonstrated to ensure that timelines and efforts were inline with our budgets.</p>
								</div>
								<span class="bottom-border"></span>
								

								<div class="people-av">
									
									<h4>Guruprasad Murty, </h4>
									<p>CIO - Microland</p>
								</div>

						    </div>
						    
						    <div class="people-quote">
						    	 <div class="item-quote">
									<p>Avon has established itself as a leader and a reliable brand in the door interlock for parenthetical clean room industry. KVP is an ideal partner for us in this growth journey. KVP brought required business knowledge coupled with strong strategic value to strengthen our business.</p>
								</div>
								<span class="bottom-border"></span>
								

								<div class="people-av">
									
									<h4>Amarnath Kamath, </h4>
									<p>Managing Director - Avon Control Systems</p>
								</div>

						    </div>
						    
						    <div class="people-quote">
						    	 <div class="item-quote">
									<p>We were looking at a systematic approach to build real-time access to critical customer and market information the ability to strategically act based on market dynamics. Using leading collaborative technology from Salesforce.com coupled with KVP’s integrated business process building approach is now bringing all MMM stakeholders.</p>
								</div>
								<span class="bottom-border"></span>
								

								<div class="people-av">
									
									<h4>S.A Mohan, </h4>
									<p>CEO - Maini Materials Movement</p>
								</div>

						    </div>

						 

					    </div>

				    </div>

				</div> <!-- and row -->
			</div> <!-- and container -->
			</div> <!-- and relaited-products -->
</div>
		</section>


<script type="text/javascript">
    jQuery.noConflict()( function($){
      $(document).ready(function(){
        $('.about-numbers').parallax("100%", 0.25);
        $('.callout-2').parallax("20%", 0.25);
      });
    });
  </script> 

<!-- PrettyPhoto --> 
<script type="text/javascript">
  jQuery.noConflict()( function($){
    $("a[data-gal^='prettyPhoto']").prettyPhoto();
  });
  </script> 
<!-- and PrettyPhoto --> 

<!-- REVOLUTION SLIDER --> 
<script type="text/javascript">

    var revapi;

    jQuery(document).ready(function() {

         revapi = jQuery('.tp-banner').revolution(
        {
          delay:15000,
          startwidth:1170,
          startheight:520,
          hideThumbs:10,
          fullWidth:"off",
          fullScreen:"on",
          fullScreenOffsetContainer: ".top-bar"
        });

    }); //ready

  </script> 
<!-- END REVOLUTION SLIDER -->
