
  <!-- Bottom bar -->
  <section>
    <div class="bottom-bar">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 col-xs-small pull-right">
            <ul class="list-inline pull-right">
              <li><a href="<%="/index"%>">HOME</a></li>
              <li><a href="<%="/blog"%>">OUR BLOG</a></li>
              <li><a href="shop-1.html">SHOP</a></li>
              <li><a href="#">TERMS</a></li>
              <li><a href="<%="/contact_us"%>">CONTACTS</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 col-xs-small copyright">
           <p>&#169;  2015 KVP Business Solutions. All Rights Reserved.</p>
          </div>
        </div>
        <!-- and row --> 
      </div>
      <!-- and container --> 
    </div>
    <!-- and bottom-bar --> 
    
  </section>
  <!-- and Bottom bar --> 
  
  <a href="#" class="back-to-top"></a>
