<head>
<meta charset="UTF-8">
<title>KVP Business Solutions</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="assets/images/img/favicon.ico">

<!-- Add some of The Open Graph protocol -->
<!-- Open Graph meta tags -->
<!--
	<meta content="Index 2" property="og:title">
	<meta content="website" property="og:type">
	<meta content="http://des111gn.com/all-in-1/index-2.html" property="og:url">
	<meta content="" property="og:image">
	<meta content="All in one" property="og:site_name">
	<meta content="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable [...]" property="og:description">
	-->

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->


<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Oswald:300,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>


<!-- Main CSS Style -->
<link rel="stylesheet" href="assets/stylesheets/css/styles.css" type="text/css" />

<!-- Less -->
<script src="assets/js/less.js" type="text/javascript"></script>

<!-- Bootstrap Grid Framework -->
<link rel="stylesheet" href="assets/stylesheets/css/bootstrap.css" />

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Oswald:300,400' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>

<!-- Font Awesome -->
<link rel="stylesheet" href="assets/stylesheets/css/font-awesome.css">

<!-- Dropdown menu -->
<link rel="stylesheet" href="assets/stylesheets/css/slicknav.css">

<!-- Owl Carousel Assets -->
<link href="assets/stylesheets/css/owl.carousel.css" rel="stylesheet">

<!-- THE PREVIEW STYLE SHEETS, NO NEED TO LOAD IN YOUR DOM -->
<link rel="stylesheet" type="text/css" href="assets/stylesheets/css/navstylechange.css" media="screen" />
<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="assets/stylesheets/css/settings.css" media="screen" />

<!-- Animate css -->
<link rel="stylesheet" href="assets/stylesheets/css/animate.css">

<!--Preaty Photo-->
<link rel="stylesheet" href="assets/stylesheets/css/prettyPhoto.css" type="text/css"/>

<!-- Switcher Select Box -->
<link rel="stylesheet" href="assets/stylesheets/css/selectify.css" />


 <%= stylesheet_link_tag    "application", :media => "all" %>
 <%= javascript_include_tag "application" %>
 <%= csrf_meta_tags %>
</head>