		<!-- Top bar -->
		<header>
                <div id="search">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<span id="search-beack"></span>
							<input class="placeholder" type="search" placeholder="Search here and press enter...">
						</div>
					</div>
				</div>
			</div>

			<!-- Dropdown menu -->
			<nav class="index-2-nav">
				
				<div class="header">
					<div class="container">
						<div class="row">


							<div class="col-md-1 col-sm-2 col-xs-2">
								<!-- Your logo -->
								<div class="logo"><a href="#"><img src="assets/logo.png" alt="KVP Business Solutions"></a></div>
								<!-- and Your logo -->
							</div>
							
							<div class="col-md-11 col-sm-10 col-xs-10">
								
								<div class="menu-container">
									
									<!-- Menu nav bar -->
									<ul id="menu">
									    <li class="drop"><a href="<%= "/index" %>">Home<i class="fa fa-angle-down"></i></a>
									    </li>
									    <li class="features drop"><a href="#" >Services<i class="fa fa-angle-down"></i></a>
									    </li>
									    <li class="drop"><a href="#"  class="slideUp">Technology <i class="fa fa-angle-down"></i></a>
									    </li>
									    <li class="drop"><a href="#">Industry <i class="fa fa-angle-down"></i></a>
									    	    <ul class="sub-menu slideDown">
									            <li><a href="manufacturing.html">Manufacturing</a></li>
									            <li><a href="financial_services.html">Financial Services</a></li>
									        </ul>
									    </li>
									    <li class="drop"><a href="#">Blog <i class="fa fa-angle-down"></i></a>
									            </li>
                                        <li class="drop"><a href="#">About Us  <i class="fa fa-angle-right"></i></a>
									    </li>
									     <li class="drop"><a href="#">Careers  <i class="fa fa-angle-right"></i></a>
									    </li>
									    <li><a href="<%= "homes/contact" %>">Contact Us </a></li>
									</ul>
									<!-- and Menu nav bar -->
								</div> <!-- and menu-container -->
							</div> <!-- and col-md-10 -->

						</div> <!-- and row -->
					</div> <!-- and container -->
				</div> <!-- and header -->

			</nav> <!-- and Dropdown menu -->
			
		</header> <!-- and header -->